<!DOCTYPE html>
<html>
<head>
    <title>Train Alert</title>
</head>
<body>

<h2>Create Train Alert</h2>

<form action="/add-alert" method="post">

    <p>Train Number</p>
    <input
        type="text"
        name="train_number"
        required>

    <p>From Station</p>
    <input
        type="text"
        name="from_station"
        required>

    <p>To Station</p>
    <input
        type="text"
        name="to_station"
        required>

    <p>Journey Date</p>
    <input
        type="text"
        name="journey_date"
        placeholder="11-6-2026"
        required>

    <p>Class</p>
    <input
        type="text"
        name="class_code"
        placeholder="3A"
        required>

    <p>Telegram Chat ID</p>
    <input
        type="text"
        name="telegram_chat_id"
        required>

    <br><br>

    <button type="submit">
        Save Alert
    </button>

</form>

</body>
</html>
